Repository nomadscientist/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @hexylena, @jennaj, @delphine-l, @natefoo, @bgruening, @martenson, @beatrizserrano, @nekrut, @annefou, @nomadscientist, @chrisbarnettster, @tsenapathi, @simonbray, @wm75, @fpsom, @yvanlebras, @lecorguille, @lldelisle, @heylf, @joachimwolff, @cstritt, @pvanheus, @simleo, @ilveroluca, @stain, @pauldg, @kkamieniecka, @poterlowicz-lab, @abretaud, @kostrykin, @patrick-austin, @leandro-liborio, @melpetera, @foellmelanie, @paulzierep, @TKlingstrom, @deeptivarshney, @subinamehta, @pratikdjagtap, @mtekman, @pavanvidem, @hexhowells, @MarisaJL, @marziacremona, @cumbof, @anuprulez, @kenza12, @tduigou, @breakthewall, @guillaume-gricourt, @mblue9, @davelopez

Autoupdate mitcochondrion assembly
  topics/assembly/tutorials/mitochondrion-assembly/tutorial.md
  topics/assembly/tutorials/mitochondrion-assembly/workflows/main_workflow.ga
Owners: @nekrut, @delphine-l

elimination of quast html fetching
  topics/microbiome/tutorials/metagenomics-assembly/tutorial.md
Owners: @bebatut, @shiltemann, @paulzierep

Create tutorial.md yolo detection marine ecology
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Add bibteX
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.bib
Owners: @yvanlebras

Create README.md
  topics/ecology/images/yolo/README.md
Owners: @yvanlebras

Add files via upload
  topics/ecology/images/yolo/CAM-TEMPO.jpg
  topics/ecology/images/yolo/CAM-TEMPO2.jpg
  topics/ecology/images/yolo/CAM-TEMPO3.jpg
  topics/ecology/images/yolo/MOMAR.jpg
  topics/ecology/images/yolo/buccinid.jpeg
  topics/ecology/images/yolo/bythog2.jpeg
Owners: @yvanlebras

Rename README.md to READMEt.md
  topics/ecology/images/yolo/READMEt.md
Owners: @yvanlebras

Delete topics/ecology/images/yolo/READMEt.md
  topics/ecology/images/yolo/READMEt.md
Owners: @yvanlebras

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: none

Adding YouTube ID
  topics/microbiome/tutorials/mags-building/tutorial.md
Owners: @bebatut, @shiltemann, @paulzierep

formatting tweaks
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Enhance monitoring tutorial with Galaxy Job Radar details
  topics/admin/tutorials/monitoring/tutorial.md
Owners: @hexylena, @natefoo, @bgruening, @martenson

Update tutorial.md remove unneccessary datatype snippet
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Update tutorial.md update select and build list section
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Update tutorial.md update class names file
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Update tutorial.md
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Update tutorial.md add optional step comment
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Create README.md
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/README.md
Owners: @yvanlebras

add a workflow
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yoloDeepSeaSpy_.ga
Owners: @yvanlebras

Update tutorial.md add crabs model info
  topics/ecology/tutorials/yolo_predict_deepsea/tutorial.md
Owners: @yvanlebras

Delete topics/ecology/tutorials/yolo_predict_deepsea/workflows/README.md
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/README.md
Owners: @yvanlebras

Add files via upload
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yolo_DeepSeaSpy.ga
Owners: @yvanlebras

Delete topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yoloDeepSeaSpy_.ga
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yoloDeepSeaSpy_.ga
Owners: @yvanlebras

Create README.md
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/test-data/README.md
Owners: @yvanlebras

Add files via upload
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/test-data/dataset_seanoe_101899_images_Images_MOMAR_20141223235225.jpg
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/test-data/dataset_seanoe_101899_images_Images_MOMAR_20141223235225_out.jpg
Owners: @yvanlebras

Create Galaxy-Workflow-tuto_yolo_DeepSeaSpy-tests.yaml
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yolo_DeepSeaSpy-tests.yaml
Owners: @yvanlebras

Delete topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yolo_DeepSeaSpy-tests.yaml
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yolo_DeepSeaSpy-tests.yaml
Owners: @yvanlebras

Create Galaxy-Workflow-tuto_yolo_DeepSeaSpy-tests.yml
  topics/ecology/tutorials/yolo_predict_deepsea/workflows/Galaxy-Workflow-tuto_yolo_DeepSeaSpy-tests.yml
Owners: @yvanlebras

Add JBrowse2 tutoriel
  topics/visualisation/images/JBrowse2_complex_gene_tracks.png
  topics/visualisation/images/JBrowse2_overview_Hi-c_tracks.png
  topics/visualisation/images/jbrowse2-gtf-track.png
  topics/visualisation/images/jbrowse2-gtf-track_info.png
  topics/visualisation/images/jbrowse2-hic-track.png
  topics/visualisation/tutorials/jbrowse/slides.html
  topics/visualisation/tutorials/jbrowse2/tutorial.md
Owners: @shiltemann, @hexylena

fix lint
  topics/visualisation/tutorials/jbrowse2/data_library.yaml
  topics/visualisation/tutorials/jbrowse2/tutorial.md
Owners: @shiltemann, @hexylena

add data-library.yaml
  topics/visualisation/tutorials/jbrowse2/data-library.yaml
Owners: @shiltemann, @hexylena

fix lint
  topics/visualisation/tutorials/jbrowse2/tutorial.md
Owners: @shiltemann, @hexylena

CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

assets/     @bebatut @shiltemann @hexylena
bin/        @bebatut @shiltemann @hexylena
metadata/   @bebatut @shiltemann @hexylena
badges/     @hexylena
_layouts/   @bebatut @shiltemann @hexylena
_includes/  @bebatut @shiltemann @hexylena
_plugins/   @bebatut @hexylena


# Topic Editorial Board members
topics/introduction/               @jennaj  @delphine-l
topics/admin/                      @hexylena  @natefoo  @bgruening  @martenson
topics/ai4life/                    @beatrizserrano
topics/assembly/                   @nekrut  @delphine-l
topics/climate/                    @annefou
topics/community/                  @nomadscientist
topics/computational-chemistry/    @chrisbarnettster  @tsenapathi  @simonbray  @bgruening
topics/contributing/               @bebatut  @bgruening
topics/covid19/                    @wm75
topics/data-science/               @hexylena  @shiltemann  @fpsom  @bebatut  @yvanlebras
topics/dev/                        @lecorguille  @bebatut
topics/ecology/                    @yvanlebras
topics/elixir/                     @bebatut  @fpsom
topics/epigenetics/                @lldelisle  @heylf  @joachimwolff
topics/evolution/                  @cstritt  @pvanheus
topics/fair/                       @simleo  @ilveroluca  @stain  @pauldg  @kkamieniecka  @poterlowicz-lab
topics/galaxy-interface/           @jennaj  @delphine-l
topics/genome-annotation/          @hexylena  @abretaud
topics/gmod/                       @hexylena  @abretaud
topics/imaging/                    @kostrykin  @beatrizserrano
topics/materials-science/          @patrick-austin  @leandro-liborio
topics/metabolomics/               @lecorguille  @melpetera  @foellmelanie
topics/microbiome/                 @bebatut  @shiltemann  @paulzierep
topics/one-health/                 @wm75  @pvanheus  @TKlingstrom
topics/plants/                     @deeptivarshney  @shiltemann
topics/proteomics/                 @foellmelanie  @subinamehta  @pratikdjagtap  @bgruening
topics/sequence-analysis/          @yvanlebras  @bebatut  @joachimwolff
topics/single-cell/                @nomadscientist  @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf
topics/statistics/                 @marziacremona  @cumbof  @anuprulez
topics/synthetic-biology/          @kenza12  @tduigou  @breakthewall  @guillaume-gricourt
topics/teaching/                   @bebatut
topics/transcriptomics/            @bebatut  @mblue9  @heylf
topics/variant-analysis/           @bebatut  @wm75  @bgruening  @nekrut
topics/visualisation/              @shiltemann  @hexylena

# Spanish tutorials
# Notify both the spanish team (@beatrizserrano @nomadscientist @davelopez) as the topic team
topics/introduction/tutorials/galaxy-intro-short/             @beatrizserrano @nomadscientist @davelopez    @jennaj
topics/single-cell/tutorials/scrna-case_alevin/               @beatrizserrano @nomadscientist @davelopez    @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf
topics/single-cell/tutorials/scrna-intro/                     @beatrizserrano @nomadscientist @davelopez    @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf
topics/single-cell/tutorials/scrna_case_basic-pipeline/       @beatrizserrano @nomadscientist @davelopez    @mtekman  @pavanvidem  @hexhowells  @MarisaJL  @heylf

# Lines starting with '#' are comments.
# # Order is important. The last matching pattern has the most precedence.
